@inject SignInManager<IdentityUser> SignInManager
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Server.Kestrel.Core
@using System.Globalization
@model Airline.DAL.Models.Fligth

@{
    ViewData["Title"] = "Create";
}

<h1>Create new flight</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name_Fligth" class="control-label"></label>
                <input asp-for="Name_Fligth" class="form-control" />
                <span asp-validation-for="Name_Fligth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromCityId" class="control-label"></label>
                <select asp-for="FromCityId" class="form-control" asp-items="ViewBag.FromCityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WhereCityId" class="control-label"></label>
                <select asp-for="WhereCityId" class="form-control" asp-items="ViewBag.WhereCityId"></select>
            </div>
            
            
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input type="date" asp-for="DepartureDate" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDate" class="control-label"></label>
                <input asp-for="ArrivalDate" class="form-control"/>
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            @if (!SignInManager.IsSignedIn(User) && User.IsInRole("dispatcher"))
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsConfirmed" /> @Html.DisplayNameFor(model => model.IsConfirmed)
                    </label>
                </div>
            }
            <div id="AddRequest" class="form-group">
                <label asp-for="Request" class="control-label"></label>
                <textarea asp-for="Request.Message" class="form-control" placeholder="Write something here"></textarea>
                <span asp-validation-for="Request" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<button id="expandHeader" class="btn btn-primary" onclick="$('#AddRequest').fadeIn();">Add request</button>
<button id="collapseHeader" class="btn btn-primary" onclick="$('#AddRequest').fadeOut();">Remove request</button>
<hr />
<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>


<script>
    
</script>

<script type="text/javascript">
    $(function () {
        $('.group-header').click(function () {
            $(this).nextUntil('.group-header').toggle();
        });
    });
</script>
