@inject SignInManager<IdentityUser> SignInManager
@using Microsoft.AspNetCore.Identity
@model Airline_Yurchenko.ViewModels.GroupedRequestViewModel
@if (!Model.Items.Any())
{
    <h1 class="text-center">No requests.</h1>
}
else
{
    <table class="table table-bordered ">
        <thead>
            <tr class="group-header">
                <th scope="col">Name</th>
                <th scope="col">Count requests</th>
            </tr>
        </thead>
        <tfoot class="table table-info">
            <tr>
                <th scope="row">Total:</th>
                <th>@Html.DisplayFor(m => m.Total)</th>
            <tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <a class="btn btn-primary" asp-controller="Fligths" asp-action="GetListProblem" asp-route-id="@item.Sig">@item.Sig </a>
                    </td>
                    <th scope="row">@Html.DisplayFor(_ => item.Cost)</th>
                </tr>
            }
        </tbody>
    </table>
}
<script>
    $(function () {
        $('.group-header').click(function () {
            $(this).nextUntil('.group-header').toggle();
        });
    });</script>