@model IEnumerable<Airline.DAL.Models.FligthTeam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fligth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team_Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fligth.Name_Fligth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team_Person.Name_Team)
            </td>
          
        </tr>
}
    </tbody>
</table>
