@inject SignInManager<IdentityUser> SignInManager
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
    {
        <a asp-controller="Students" asp-action="Create">Регистрация</a>
    }
}