@model IEnumerable<Airline.DAL.Models.Team_Person>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Team Person</h1>

<a class="btn btn-primary btn-info mb-2" asp-action="Create">Create New</a>

<table class="table border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_Team)
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="font-weight-bold">
                @Html.DisplayFor(modelItem => item.Name_Team)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
