@model string

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post" class="text-center">
    <div class="form-group  text-center border ">
        <h4 class="font-weight-bold" for="name">New Role</h4>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create role</button>
</form>