@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1 class="text-center">List Roles</h1>
<br>


<a class="btn btn-primary mb-2" asp-controller="Roles" asp-action="UserList">User List</a>

<div class="d-flex justify-content-center ">
    <table class="table table-bordered w-100 justify-content-center">
        <thead>
            <tr>
                <th> Name</th>
                <th class="w-50">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger ">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a class="btn btn-success mb-2 " asp-controller="Roles" asp-action="Create">Create role</a>