@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h1 class="text-center">UserList</h1>
<a class="btn btn-sm btn-primary mb-2 " asp-action="Create" asp-controller="UserProfile">Create User</a>
<table class="table table-bordered shadow">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td class="text-center">
                <a class="btn btn-sm btn-primary col-4 " asp-action="Edit" asp-route-userid="@user.Id">Аccess rights</a>
            </td>
        </tr>
    }
</table>